{% if GOOGLEANALYTICS_ID %}
	<!-- https://developers.google.com/analytics/devguides/collection/gtagjs/migration -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLEANALYTICS_ID }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ GOOGLEANALYTICS_ID }}', {
			{% EVENT phpbb_googleanalytics_gtag_options %}
			{% if S_REGISTERED_USER %}'user_id': '{{ GOOGLEANALYTICS_USER_ID }}',{% endif %}
			{% if S_ANONYMIZE_IP %}'anonymize_ip': true,{% endif %}
		});
	</script>
{% endif %}
